footer {
    flex-shrink: 0;
    padding: 30px;
    background-color: #f8f8f8;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #e2e2e2;
    min-height: 100px;
    color: #696969;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    > span {
        text-align: center;
    }
    
    > div {
        min-width: 300px;
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        > a {
            font-size: 30px;
            color: #696969;
            cursor: pointer;
            transition: filter 0.8s;

            &:hover {
                filter: brightness(0.5);
            }
        }
    }
}